.labelHolder {
  color: $grey;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 24px;

  span {
    @include truncateText();

    @include respond-to(min-small-screens) {
      width: 540px;
    }

    @include respond-to(max-extra-small-screens) {
      width: 150px;
    }

    @include respond-to(large-screens) {
      width: 350px;
    }
  }

  .checkedLabel {
    -webkit-text-decoration-line: line-through; /* Safari */
    text-decoration-line: line-through;
  }

  .checkboxHolder {
    width: 20px !important;
    height: 20px !important;
    cursor: pointer;
  }
}
